<header class="site-head">
    <a id="logo" href="{{@site.url}}">
        <img src="{{asset "images/logo.png"}}" alt="{{@site.title}}">
    </a>
    <nav>
        <i class="fa-solid fa-bars"></i>
        {{navigation}}
    </nav>
    <button class="search" aria-label="Search" data-ghost-search>{{> "icons/search"}}</button>
</header>
