@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h2 {
    font-size: 1.5rem;
}

a {
    color: orange;
}

form button {
    background: orange !important;
    padding: 10px;
}

table {
    width: 100%;
    text-align: left;
}